<div class="contenedor">

  <div class="containerInfoA mdl-shadow--2dp textColorB">
      <h3 class="titleB b">Proyectos</h3>
      <div>
        <h4>Sistema de Auditoria para Agencias de Automóviles</h4>
        <p>
          Teambits, S.C. desarrolló la aplicación para dispositivos móviles, con los requerimientos de PWC, para auditar a las agencias de automóviles Nissan, en tiempo real y con evidencias incluidas. Con ello PWC logra evaluar y recaba la información de cada agencia a nivel República Mexicana y Centro América.
          <br>
          Esta información en tiempo real, permite tomar decisiones sobre el apoyo, los planes de recuperación y planes de nuevas agencias en base a su potencial. Próximamente otras marcas de automóviles, clientes de PWC, estarán usando la aplicación
        </p>
        <small>La tecnología empleada es .Net</small>
      </div>
      <hr>
      <div>
        <h4>Elaboración de aplicación móvil para iOS.</h4>
        <p>
          PWC solicitó la creación de una aplicación para dispositivos móviles IPad, para realizar auditorías cada cuarto de año, aplicación que provee información en tiempo real, incluyendo fotografías.
        </p>
      </div>
      <hr>
      <div>
        <h4>Actualización de Sistemas Fiscales para Costa Rica, Honduras, Colombia, Perú y República Dominicana</h4>
        <p>
          A solicitud de ADAM (empresa americana dedicada a dar servicios en varios países para desarrollar el capital humano) solicitó la actualización de sus soluciones para nóminas, asistencia, vacaciones, e impuestos de acuerdo a la reglamentación del 2017, aplicable a cada país.
          Reto: Que Teambits S.C. cumplió en tiempo y forma para poder soportar los requerimientos de los clientes de ADAM. <br>
          Incluyo las pruebas unitarias y de conjunto en diferentes ambientes y diferentes reglas de negocio
        </p>
      </div>
      <hr>
      <div>
        <h4>Desarrollo y Mantenimiento de Sistemas para Evaluaciones Psicométricas y Cognoscitivas</h4>
        <p>
          Teambits S.C. trabajó en conjunto con Amstrong el desarrollo de aplicaciones vía internet y móviles para las pruebas de selección de personal, tanto en habilidades técnicas psicométricas y de confianza para aplicarlas y evaluarlas en tiempo real. <br>
          Aplicación que en la actualidad es ocupada por el gobierno y por empresas del sector privado.
        </p>
      </div>
    </div>
</div>