

<div class="mdl-card__title robotoFont title mdl-shadow--8dp textColorB">ERP FusiónPro</div>
<div class="container">
  <div class="containerB">

    <div class="botones">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <div class="robotoFont textColorB"> Descarga </div>
      </button>
      <div class="dialog textColor">Demo gratuito</div>
    </div>

    <div class="botones">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <div class="robotoFont textColorB"> Solicita </div>
      </button>
      <div class="dialog textColor">Versión completa</div>
    </div>

  </div>

</div>
<div class="robotoFont textColor description">
  El crowdeling es un modelo alternativo de inversión y financiamiento. Una forma de inversión 
  colectiva en la que varios particulares y/o empresas invierten en forma de préstamo a particulares 
  o personas morales. Este modelos tiene auge en Europa y Estados Unidos principalmente y su 
  fundamento es mediante la utilización de plataformas Web Multicanales,
</div>
<app-share-article></app-share-article>

<app-comment-box></app-comment-box>
