<div class="mdl-card__title robotoFont title mdl-shadow--8dp textColorB">Acerca de Teambits</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<div class="robotoFont textColor txtSize resalt">
			<p>
				Teambits, S.C. es una empresa 100% Mexicana, formada a principios del año 2009, dedicada a la consultoría, capacitación y
				desarrollo de proyectos en sistemas de información, brindando siempre una actitud de profesionalismo en sus servicios
				y soluciones.
			</p>
			<p>
				En nuestra creación unimos tres conceptos básicos que engloban las necesidades de cualquier empresa en el área de sistemas,
				los cuales son: información, tecnología y solución.
			</p>
			<p>
				En los últimos años el desarrollo de la tecnología ha permitido a las empresas a tener acceso a un gran número de herramientas,
				metodologías y técnicas para obtener el mayor número de beneficios a su negocio, pero al mismo tiempo el desarrollo de
				la tecnología ha vuelto las cosas más complicadas y especializadas y dentro de este mundo de opciones lo que realmente
				necesitan las empresas de hoy son soluciones óptimas para la utilización apropiada de la tecnología de información, cómputo
				y comunicaciones para el éxito de su negocio.
			</p>
			<div class="mdl-shadow--2dp resalt">
				<p>
					Diferencia de la competencía
				</p>
				<p>-Actitud en el servicio</p>
				<p>-Disponibilidad</p>
				<p>-Contacto y atención</p>
				<p>-Asesoría al cliente acorde a su negocio</p>
				<p>-Compromiso</p>
				<p>-Satisfacción</p>
				<p>-Oportunidad</p>
				<p>-Iniciativa</p>
			</div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--6-col">
		<img class="imagen mdl-shadow--8dp" src="http://teambits.mx/img/1.png" alt="Local">
	</div>
</div>

<div class="robotoFont titleB">Nuestros valores</div>

<div class="imgContainerB">
	<div class="mdl-grid aligner">
		<div class="mdl-cell mdl-cell--4-col textColor textSize">
			<p>Confibilidad: Somos eficaces y eficientes en la ejecución de nuestras actividades</p>
			<p>Equipo Teambits: Somos un equipo de consultores orgullosamente Teambits</p>
			<p>Liderazgo estratégico: Liderazgo que convierte la estrategia en realidad</p>
		</div>
		<div class="imgContainerB">
			<div class="mdl-cell mdl-cell--4-col"> <img class="imagenB" src="http://www.representacionesdinamicasinternacionales.com.mx/images/valores.png" alt="Valores"
				/> </div>
		</div>
		<div class="mdl-cell mdl-cell--4-col textColor textSize">
			<p>Servicio Teambits: Un cliente satisfecho es la meta a lograr</p>
			<p>Proactividad: El dinamismo nos distingue</p>
			<p>Enfoque a la gente: Ninguno de nosotros es tan bueno como todos juntos</p>
		</div>
	</div>
</div>

<div class="containerMision mdl-shadow--4dp">
	<div class="itemsMision robotoFont">
		<div class="titleB b">Misión</div>
		<br>
		<div class="textSize textColorB">
			<p>Soluciones de software para desarrollar tus ideas.</p>
			<p>Consultores Teambits altamente capacitados en tecnología, metodología y conocimiento de negocio.</p>
			<p>Lograr que nuestros consultores estén orgullosos y satisfechos de pertenecer a la familia Teambits.</p>
			<p>Generando beneficios a nuestros clientes, consultoes, sociedad y país.</p>
		</div>
	</div>
	<div class="itemsMision robotoFont">
		<div class="titleB b">Visión</div>
		<br>
		<div class="textSize textColorB">
			<p>Ser líderes en el desarrollo de soluciones y productos innovadores de Tecnologías de la información a nivel Nacional y
				global.</p>
			<p>Ser uno de los mejores lugares para trabajar.</p>
		</div>
	</div>
</div>

<div class="robotoFont titleB">Objetivos</div>
<div class="containerObj robotoFont textColor mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<p>
			Proporcionar a nuestros clientes soluciones en proyectos con infraestructura tecnológica abierta y adaptable, involucrando
			la reingeniería, consultoría especializada, soporte técnico, desarrollo y capacitación de manera integral y referenciada,
			considerando la implementación en tecnologías homogéneas y heterogéneas.
		</p>
		<p>
			Ofrecer servicios con valor agregado, proporcionando soluciones personalizadas y cumpliendo los requerimientos específicos
			de cada proyecto.
		</p>
		<p>
			Mantenernos a la vanguardia tecnológica e implementación de soluciones empresariales completas asegurandolas mejores condiciones
			costo/beneficio con soluciones innovadoras que aseguren el retorno de la inversión realizada.
		</p>
	</div>
	<div class="mdl-cell mdl-cell--6-col">
		<p>
			Identificar y proponer áreas de oportunidad para garantizar la disponibilidad,confiabilidad y seguridad de la información.
		</p>
		<p>
			Proporcionar servicios de Expertise Training, que sirvan para disminuir la curva de aprendizaje de los DBA's encargados del
			mantenimiento de las bases de datos aprovechando el exterpise de los DBA's de Teambits.
		</p>
		<p>
			Brindar un servicio de soporte para emergencias (7x24), con una respuesta inmediata.
		</p>
	</div>
</div>
<app-share-article></app-share-article>

<app-comment-box></app-comment-box>