.imagen{
    width: 100%;
}
.resalt{
    padding: 25px;
}
.txtSize{
    font-size: 40px;
}
.imagenB{
    width: 200px;
    justify-content: center;
    align-items: center;
}
.imgContainerB{
    flex-direction: row;
}
.aligner{
    justify-content: center;
}
.containerMision{
    width: 100%;
    margin: 15px;
    padding: 25px;
    flex-direction: column;
    background-color: #ff9800
}
.itemsMision{
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}
.containerObj{
    margin-top: 0;
    margin:15px;
    padding: 20px;
}
.containerComments{
    width: 100%;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}
.containerInfoA{
    border-radius: 20px;
    background-color: #ff9800;
    padding: 20px;
    min-width: 100%;
}
.containerInfoA h3{
    text-align: center;
}