<div class="mdl-grid header">
	<div class="mdl-cell mdl-cell--8-col">
		<app-carousel></app-carousel>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<app-newscard></app-newscard>
	</div>
</div>

<div class="allbg">

	<app-notas-de-interes></app-notas-de-interes>
	<app-referencias></app-referencias>

	<div class="robotoFont titleB">Clientes</div>
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col contatcs">
			<img class="clientesImg" src="http://www.grupoelektra.com.mx/images/banco-azteca-logo-grande.png" alt="Banco Azteca" />
		</div>
		<div class="mdl-cell mdl-cell--4-col contatcs">
			<img class="clientesImg" src="http://s3-eu-west-1.amazonaws.com/rankia/images/valoraciones/0015/1515/inbursa.jpg?1398879086" alt="Inbursa"/>
		</div>
		<div class="mdl-cell mdl-cell--4-col contatcs">
			<img class="clientesImg" src="https://www.autocompara.com/ExpressoAutoCompara/images/aseg/logo-gnp05.png" alt="GNP" />
		</div>
	</div>

	<app-contacto></app-contacto>
	<div class="finalContact">
		<div class="contatcs"> <a href="https://www.facebook.com/Teambits/">Síguenos en Facebook</a><img class="icons" src="https://www.facebook.com/images/fb_icon_325x325.png"/></div>
		<div class="contatcs"> Número telefonico: 01 55 5523 9501</div>
	</div>

</div>