

<div class="mdl-card__title robotoFont title mdl-shadow--8dp textColorB">Desarrollo de Software</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col textColor">
    <h3>Desarrollo de aplicaiones Web</h3>
    <p>-Desarrollo de aplicaiones para diferentes propósitos basadas en Web con conexión a diferentes 
      fuentes de datos y sistemas de reporteo de acuerdo a las necesidades de la organización.
    </p>
    <p>- Implementación de procesos de control y seguimiento con base en los procesos operativos 
      de su empresa
    </p>
    <br>
    <h3>Fábrica de Software</h3>
    <p>Ofrecemos a nuestros clientes la opción de desarrollar en nuestras instalaciones 
      sus proyectos, ofreciéndoles un precio fijo por la solución completa con los ahorros relacionados 
      a lugares, consumo de energía eléctrica y equipo relacionado. Con entregas semanales de avance.
    </p>
  </div>

  <div class="mdl-cell mdl-cell--6-col textColor">
    <img class="lastImg mdl-shadow--6dp" src="https://visualhunt.com/photos/s/1/man-working-on-laptop-with-coffee-mug-in-background.jpg" alt="Dev"/>
    <hr>
    <app-share-article></app-share-article>
  </div>

</div>
<hr>
<app-comment-box></app-comment-box>
