<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Conócenos</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">¿Quienes somos?</a></li>
        <li><a href="#">Alianzas</a></li>
        <li><a href="#">Nuestros valores</a></li>
        <li><a href="#">¿Quienes son nuestros clientes?</a></li>
        <li><a href="#">Casos de éxito</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Servicios</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Consultoría</a></li>
        <li><a [routerLink]="['outsourcing']">Outsourcing</a></li>
        <li><a [routerLink]="['capacitacion']">Capacitación</a></li>
        <li><a [routerLink]="['desarrollo']">Desarrollo Software</a></li>
        <li><a href="#">Administración de proyectos</a></li>
        <li><a href="#">Quality Assurance</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Productos y Proyectos</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Crowdleing</a></li>
        <li><a href="#">Proyectos Destacados</a></li>
        <li><a href="#">Proyectos de Tiempo Real</a></li>
        <li><a href="#">Proyectos de Experiencia</a></li>
        <li><a href="#">Sistemas Batch</a></li>
        <li><a href="#">Productos TELCOS</a></li>
        <li><a [routerLink]="['erp']">ERP FusiónPro</a></li>        
        <li><a href="#">Programa B4C</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Lo más visto</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a [routerLink]="['desarrollo']">Desarrollo en Software</a></li>
        <li><a href="#">Desarrollo de Aplicaciones</a></li>
        <li><a [routerLink]="['outsourcing']">Outsourcing</a></li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">Teambits</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="#">Notas de Interés</a></li>
      <li><a href="#">Bolsa de trabajado</a></li>
      <li><a href="#">Contactanos</a></li>
    </ul>
  </div>

</footer>